<div class="container">
	<article class="banner">
		<div class="banner-info">
			<span class="banner-info__label">
				Кейс
			</span>

			<h3 class="banner-info__title">
				Личный кабинет эпидемиолога
			</h3>

			<p class="banner-info__description">
				Справочно-аналитическая система для автоматического мониторинга
				эпидемиологически значимых показателей.
			</p>

			<button class="banner-info__button">
				Подробнее
			</button>
		</div>
		<div class="banner-image">
			<img
				ngSrc="https://asset.gecdesigns.com/img/wallpapers/beautiful-fantasy-wallpaper-ultra-hd-wallpaper-4k-sr10012418-1706506236698-cover.webp"
				fill
			/>
		</div>
	</article>
</div>
