@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: quote($font-name);
		src: url($path+".ttf") format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}

/* ===== Usage ===== */
// @include font-face(Roboto, "./assets/Roboto", normal, normal);

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
	font-size: $font-size * 1px;
	// font-size: $font-size * 0.1rem;
	// example using rem values and 62.5% font-size so 1rem = 10px

	@if $line-height==normal {
		line-height: normal;
	} @else {
		line-height: calc($line-height / $font-size);
	}

	@if $letter-spacing==normal {
		letter-spacing: normal;
	} @else {
		letter-spacing: #{$letter-spacing / $font-size}em;
	}
}

/* ===== Usage ===== */
// p {
//   @include font-size(12, 18, 1.2);
//   // returns
//   font-size: 12px;
//   line-height: 1.5; // 18 / 12
//   letter-spacing: 0.1em;
// }
